<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <property
            android:name="android.app.property.SUPPORT_16KB_PAGE_SIZE"
            android:value="true" />
    </application>
</manifest>